.token.selector {
    color: #ecf0f1;
}
.token.punctuation {
    color: #ecf0f1;
}
.token.property {
    color: #ecf0f1;
}
#code {
    color: #ecf0f1;
}
.paper {
    overflow: auto;
    margin-left: 16px;
}
@media (max-width: 1000px) {
    .paper {
        margin-top: 16px;
        margin-left: 0;
    }
}
